<div class="container">

    <form class="form" [formGroup]="productForm" (ngSubmit)="submitForm()" novalidate>
        <label></label>
        <span *ngIf="isNewProduct">
            <h2 class="formLabel">Add New Product</h2>
        </span>
        <span *ngIf="!isNewProduct">
            <h2 class="formLabel">Update Product</h2>
        </span>
        <label></label>
        <div *ngIf="errorMessage" class="errMsg">
            {{errorMessage}}
        </div>
        <label for="productName">Product Name <span class="lblError">*</span> </label>
        <div class="controls">
            <input type="text" id="productName" placeholder="Product Name" class="form-control" formControlName="productName">
            <p class="lblError" *ngIf="productForm.get('productName').hasError('required') && !productForm.get('productName').pristine">
                Please provide product name
            </p>
        </div>
        <label for="description"> Description </label>
        <div class="controls">
            <textarea id="description" placeholder=" Description" class="form-control" maxlength="50" formControlName="description"></textarea>
        </div>
        <label for="Price">Price <span class="lblError">*</span></label>
        <div class="controls">
            <input type="number" id="price" min="1" placeholder="Price" class="form-control" formControlName="price">
            <p class="lblError" *ngIf="productForm.get('price').hasError('required') && !productForm.get('price').pristine">
                Please provide Price
            </p>
        </div>
        <label for="category">Category</label>
        <div class="controls">
            <input type="text" id="category" placeholder="Category" class="form-control" formControlName="category">
        </div>
        <label for="Image URL">Image Url </label>
        <div class="controls">
            <input type="text" id="imgUrl" placeholder="Image Url" class="form-control" formControlName="imgUrl">
        </div>
        <label><button class="cancelbtn" [routerLink]="['/']" aria-label="Cancel">Cancel</button></label>
        <button *ngIf="isNewProduct" class="submitBtn" type="submit" [disabled]='productForm.invalid' aria-label="Add Product"> Add
            Product
        </button>
        <button *ngIf="!isNewProduct" class="submitBtn" type="submit" [disabled]='editform.invalid' aria-label="Update Product"> Update
            Product
        </button>
    </form>
</div>