<div>
    <h1>My Products</h1>
    <button type="button" *ngIf='isAuthenticated' [routerLink]="['/product/create']">Create new product</button>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th *ngIf='isAuthenticated'>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td *ngIf='isAuthenticated'>

                    <a href="#" [routerLink]="['/product/', product.id, 'view']" class="btn btn-info">View</a>
                    <a href="#" [routerLink]="['/product/', product.id, 'edit']" class="btn btn-primary">Edit</a>
                    <button type="button" (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button>


                </td>
            </tr>
        </tbody>
    </table>
</div>