<div class="container">

    <form class="form" [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>

        <h2 class="formLabel">Login</h2>
        <label></label>

        <div *ngIf="errorMessage" class="errMsg">
            {{errorMessage}}
        </div>

        <label for="email">E-mail: <span class="lblError">*</span></label>
        <div class="controls">
            <input type="text" id="username" placeholder="Email" class="form-control" formControlName="email">
            <p class="lblError" *ngIf="loginForm.get('email').hasError('required') && !loginForm.get('email').pristine">
                Please provide your E-mail
            </p>
            <p class="lblError" *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').pristine">
                E-mail is Invalid</p>
        </div>


        <label for="password">Password: <span class="lblError">*</span></label>
        <div class="controls">
            <input type="password" id="password" placeholder="Password" class="form-control" formControlName="password" autocomplete="on">
            <p class="lblError" *ngIf="loginForm.get('password').hasError('required') && !loginForm.get('password').pristine">
                Password is Required
            </p>
        </div>

        <label><button class="cancelbtn" [routerLink]="['/']" aria-label="Cancel">Cancel</button></label>
        <button type="submit" [disabled]='loginForm.invalid' aria-label="Login"> Login
        </button>

    </form>
    <div class="accountExist">
        <h3>Don't have an account? <a [routerLink]="['/signup']">Sign Up here</a></h3>
    </div>

</div>