:root {
    --primary-color: #474747;
    --background-color: #e5e5e5;
    --text-color: #2d2d2d;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial';
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}